## Python day one

My first Python code

In [1]:
print("Hello world")

Hello world

In [5]:
print("I'm Jupyter")

I'm Jupyter

In [7]:
x = "This is a string."
print(x)

This is a string.

In [12]:
x.split()

['This', 'is', 'a', 'string.']

In [11]:
x.split('i')

['Th', 's ', 's a str', 'ng.']

In [16]:
name = "Monica"
age = 7

In [17]:
print(f'{name} is {age} years old.')

Monica is 7 years old.

## Lists in Python

In [19]:
my_list = [1, 2, 3, "four", "five", 6, 7]

In [20]:
my_list.append("eight")

In [21]:
my_list

[1, 2, 3, 'four', 'five', 6, 7, 'eight']

In [22]:
my_list.pop(3)

'four'

In [23]:
my_list

[1, 2, 3, 'five', 6, 7, 'eight']

In [24]:
my_list.insert(4,3)

In [25]:
my_list

[1, 2, 3, 'five', 3, 6, 7, 'eight']

In [26]:
my_list.pop(4)

3

In [27]:
my_list.insert(3,4)

In [28]:
my_list

[1, 2, 3, 4, 'five', 6, 7, 'eight']

In [31]:
my_list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [30]:
my_list

[1, 2, 3, 4, 'five', 6, 7, 'eight']

In [44]:
new_list = [3, 5, 4, 6, 1, 2, 1, 0]

In [45]:
new_list.sort()

In [39]:
new_list

[6, 5, 4, 3, 2, 1, 1, 0]

In [40]:
new_list.reverse()

In [41]:
new_list

[0, 1, 1, 2, 3, 4, 5, 6]

In [38]:
len(new_list)

8

In [42]:
new_list.pop(2)

1

In [47]:
new_list[2] += 4

In [48]:
new_list

[0, 1, 5, 2, 3, 4, 5, 6]